.footer {
  display: flex;
  justify-content: center;
  justify-items: center;
  border-top: 1px dashed #707070;
  padding-block: 30px;
  margin-inline: 40px;

}
.logo {
  flex: 30%;
}
.logo>img {
  width: 59px;
}
.copyright {
  flex: 40%;
  font-size: 16px;
  letter-spacing: 1.04px;
  text-align: center;
}
.madeby {
  flex: 30%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.madeby > span {
  color: #f58c8c;
  font-size: 140%;
  margin-inline: 5px;
}

.madeby > a {
  margin-inline: 5px;
}
