:root {
  --bgc: #18191d;
  --secFont: psfournier-std-grand;
  --firColor: #f3eddb;
  --secColor: #f58c8c;
  
}

@import url("https://p.typekit.net/p.css?s=1&k=dgw2qqb&ht=tk&f=40918.40925.40954.40984.40919.40926.40955.40985.40920.40927.40956.40986&a=115355001&app=typekit&e=css");

@font-face {
  font-family: "psfournier-std-grand";
  src: url("https://use.typekit.net/af/3f332f/00000000000000007735b841/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3")
      format("woff2"),
    url("https://use.typekit.net/af/3f332f/00000000000000007735b841/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3")
      format("woff"),
    url("https://use.typekit.net/af/3f332f/00000000000000007735b841/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3")
      format("opentype");
  font-display: auto;
  font-style: normal;
  font-weight: 700;
  font-stretch: normal;
}

@font-face {
  font-family: "psfournier-std-grand";
  src: url("https://use.typekit.net/af/45eb1f/00000000000000007735b846/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3")
      format("woff2"),
    url("https://use.typekit.net/af/45eb1f/00000000000000007735b846/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3")
      format("woff"),
    url("https://use.typekit.net/af/45eb1f/00000000000000007735b846/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3")
      format("opentype");
  font-display: auto;
  font-style: italic;
  font-weight: 700;
  font-stretch: normal;
}

@font-face {
  font-family: "psfournier-std-grand";
  src: url("https://use.typekit.net/af/7f6c15/00000000000000007735b857/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3")
      format("woff2"),
    url("https://use.typekit.net/af/7f6c15/00000000000000007735b857/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3")
      format("woff"),
    url("https://use.typekit.net/af/7f6c15/00000000000000007735b857/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3")
      format("opentype");
  font-display: auto;
  font-style: italic;
  font-weight: 400;
  font-stretch: normal;
}

@font-face {
  font-family: "psfournier-std-grand";
  src: url("https://use.typekit.net/af/532f59/00000000000000007735b865/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3")
      format("woff2"),
    url("https://use.typekit.net/af/532f59/00000000000000007735b865/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3")
      format("woff"),
    url("https://use.typekit.net/af/532f59/00000000000000007735b865/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3")
      format("opentype");
  font-display: auto;
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
}

.tk-psfournier-std {
  font-family: "psfournier-std", sans-serif;
}
.tk-psfournier-std-grand {
  font-family: "psfournier-std-grand", sans-serif;
}
.tk-psfournier-std-petit {
  font-family: "psfournier-std-petit", sans-serif;
}

html,
body {
  padding: 0;
  margin: 0;
  color: var(--firColor);
}

a {
  color: var(--firColor);
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
