.pageHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-inline: 40px;
}

.pageTitle > div {
  display: flex;
  align-items: center;
}

.pageTitle > div > h1 {
  font-size: 92px;
  font-weight: 700;
  margin: 0;
}
.pageTitle > div > h1 > span {
  color: var(--secColor);
}

.pageTitle > div > span {
  width: 100px;
  height: 4px;
  background-color: var(--firColor);
  margin-inline-start: 403px;
}

.orderNow {
  position: relative;
  width: 283px;
  height: 89px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.orderNow:hover .border {
  animation: orderNowButtonAnimation 0.3s forwards ease-out;
}

.border {
  position: absolute;
  width: 283px;
  height: 89px;
  top: 0;
  left: 0;
  border: 1px solid var(--firColor);
  border-radius: 50%;
}

.orderNow > div {
  font-family: var(--secFont);
  font-size: 29px;
  font-style: italic;
}

@keyframes orderNowButtonAnimation {
  0% {
    scale: 1;
  }
  100% {
    scale: 0.9;
  }
}

.heroImg {
  width: 100%;
}

.ourStory {
  display: flex;
  justify-content: space-between;
  margin: 30px 50px;
}
.ourStoryTitle {
  position: relative;
}
.ourStoryTitle > span {
  color: black;
  font-size: 38px;
  font-weight: 700;
  opacity: 0.4;
}

.ourStoryTitle > h1 {
  position: absolute;
  left: 10px;
  top: -10px;
  font-size: 28px;
  font-weight: 700;
}
.ourStoryParag {
  text-indent: 300px;
  font-size: 38px;
  line-height: 53px;
  max-width: 1205px;
}

.theMenu {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.theMenuTitle {
    position: relative;
}

.theMenuTitleJp {
    color: black;
    font-size: 161px;
    font-weight: 700;
    opacity: 0.4;
}


.theMenuTitleTop {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    flex-direction: column;
    align-items: center;

}

.theMenuTitleTop > p {
  font-family: var(--secFont);
  font-style: italic;
  font-size: 62px;
  line-height: 81px;
  margin: 0;
}

.theMenuTitleTop > h1 {
  font-size: 62px;
  line-height: 80px;
  margin: 0;
}

.theMenuTitleTop > span {
  width: 52px;
  height: 5px;
  background-color: var(--firColor);
}

.categories {
    margin-top: 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 70px;
}

.category {
    position: relative;
  display: flex;
  margin-block: 50px;
  z-index: 0;
  cursor: pointer;
}
.category:hover .categoryName {
    font-style:normal;
}

.category:hover .categoryImage {
    animation: catImg 0.8s forwards ;
}

@keyframes catImg {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }

}

.categoryImage {
    position: absolute;
    opacity: 0;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    z-index: -1;
}

.categoryNumber{
    font-size: 15px;
font-weight: 700;
position: absolute;
left: -10px;
top: -20px;

}

.categoryName {
    font-family: var(--secFont);
    font-size: 110px;
    letter-spacing: 4.95px;
    font-weight: 700;
    font-style: italic;
}
